body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: rgb(255, 0, 0);
  
}
.home-button{
  opacity: 1;
}
.document-button{
  opacity: 0.4;
}
.person-button{
  opacity: 0.4;
}
.main-container {
  height: 100vh;
  display: flex;
  background-color: #FAFAFA;;
 
}
.left__side-block {
  height: 100%;
  width: 93px;
  background-color: white;;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 37px 18px 0 18px;
  
}

.nav-side{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  width: 100%;
   
   margin-bottom: 200px;
  
}
.nav-side__link{
  padding-left: 15px;
  
  
}
.logo{
  padding-left: 15px;
  
}  
img{
  height: 90%;
  
}
.help_logo{
  margin-bottom: 30px;
  padding-left: 15px;
}

h1{
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  margin-left: 50px;
  padding-top: 20px;
}
.top-border{
  
  
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  
}
.main-block{

  
  display: flex;
  width: 100%;
  flex-direction: column;
  
}
.name_nav{
  list-style-type: none;
}
.photo_nav{
  margin-top: 2px;
  margin-left: 20px;
  width: 50px;
  height: 50px;
  
}
.quit_nav{
  margin-left: 20px;
  margin-right: 60px;
  display: block;
  width: 20px;
  height: 19px;
  margin-top: 18px;
  background-image: url(../img/quit.svg)
}
.bell_nav{
  margin-right: 10px;
  margin-top: 15px;
  padding: 0px;
  display: block;
  width: 17px;
  height: 15px;

  background-image: url(../img/bell.svg) 
}
.top-person{
  display: flex;
  list-style-type: none;
  
  
}
.left-top_block{
  display:flex;
  justify-content: space-between;
  margin-top: 21px;
 
  
}

.main-block__menu{
  width: 100%;
  
  height: 70px;
}
.main-block__menu-tabs{
  
  height: 61px;

}
.main-block__menu-tabs .nav-tabs{
  
  height: 70px;
  border-bottom: 0 none;
  background: transparent;
}
.main-block__menu-tabs .nav-tabs li{

  padding: 5px 60px;
  position: relative;
}

.main-block__menu-tabs .nav-tabs li a.active{
  background-color:  #FAFAFA;
  font-weight:  700;
}
.main-block__menu-tabs .nav-tabs li a.active::after{
  font-weight:  700;
  content: '';
  position: absolute;
  height: 3px;
  width: 60%;
  left: 67px;
  bottom: 0;
  background: #344267;
  border: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  
  border: none;
}
.nav-tabs .nav-link:hover {
  

  border: none;
}
.nav-item a {
  color: #333333;
  border: none;
  
}
.nav-item a:hover  {
  color: #333333;
  border: none;
  
}

.nav-item{
  
  
  padding:0;
  height: 60px;
}
.nav-link{
  margin-top: 10px;
}


.buttons{  
  display: flex;    
}
.main-block__menu .main-block__menu-tabs .nav-tabs .nav-link:focus {
  border: none;

}
.main-information__nav{
  
  display: flex;
  justify-content: space-between;
}
.main-information .main-information__nav .buttons button{
  
  
  background-color:white;
  border: 1px solid;
  border-color: #344267;
  border-radius: 8px;
  height: 40px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  
  
  margin: 4px 10px;
  
}
.main-search{
  width: 300px;
}
.main-information .main-information__nav .buttons button:focus{
  outline: 0px;
  outline-offset: 0;
  
}
.button_img{
  height:14px;
  margin-left: 10px;
}
.main-information__nav-search{
  
  margin-bottom: 5px;
}
.tab-content .main-information .main-information__nav-search input {
  background: #F4F5FA;
  border: none;
  padding: 4px 20px 11px 46px;
  width: 360px;
  border-radius: 10px;
  outline: none;
  background-image: url(../img/Search.svg);
  background-repeat: no-repeat;
  background-position: 20px center;
  
  
}
.tab-content>.active {
  display: block;
}
h2{
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  margin-left: 50px;
  padding-top: 20px;
  width: 100%;
  font-size: 40px;
  color : #000;
  

  
}
.all_violations{
  display: grid;
}

.grey_line{
  display: flex;
  height: 0px;
  width: calc(100% - 67px);
  border: 1px solid #53678D;
  opacity: 0.2;
  margin-top: -3px;
  margin-left: 67px;
}
button:active {
  outline: 0px;
  
}
  
.employee-wrapper {
  height: 55vh;
  overflow: auto;
}
.arrow-vector{
  display: flex;
  padding-top:5px;
  padding-left: 250px ;
  width: auto;
  height: 22px;
}
button:focus {outline:0;}
.main-information__employees-table {
  display: grid;
  
  grid-template-columns: 1.5fr 1fr 1.5fr 1fr;
  padding-bottom: 12px;
  padding: 0;
  padding-bottom: 10px;
  
  width: calc(100% - 60px);
}
.violations-table{
  grid-template-columns: 1.5fr 1fr 0.75fr 1fr 0.75fr;
  width: calc(100% - 40px);
  padding-left: 40px;
}
.employee-wrapper .employee-button .violations-table{
  grid-template-columns: 1.5fr 1fr 0.75fr 1fr 0.75fr;
  padding-left: 10px;
  width: 100%;
}
.main-information__employees-table span{
  opacity: 0.6;
}
.employee-block span{
  display: flex;
}
.violations-vector{
  padding-left: 175px;
}
.employee-photo-logo{
  height:10px;
  width: auto;
  margin-right: 25px;
  margin-left: 20px;
}
.employee-table-vector{
  height:10px;
  width: auto;
  margin-left: 5px;

}
.employee-block span{
  padding-top:6px;
}
.employee img{
  padding-right: 20px;
  margin-top: 5px;
  padding-left: 10px;
  width: auto;
  height: 30px;
}
.employee{
  display:flex;
  align-items: center;
}
.employee-wrapper .employee-button{
  width: calc(100% - 50px);
  height: 55px;
  background-color: white;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

.employee-wrapper .employee-button{
  outline: 0px;
  outline-offset: 0;
  border: none;
}
.employee-wrapper .employee-button:hover{
  outline: 0px;
  outline-offset: 0;
  border: none;
  box-shadow: 0px 2px 8px #D9D9D9;
}
.employee-wrapper .violations-button{
  
  border-top-left-radius: 0px ;
  border-bottom-left-radius: 0px ;
  
}
.employee-wrapper .violations-button .violations-table .employee span{
  padding-left: 10px;
}
.employee-wrapper .employee-button .employee-block  span{
  font-weight: 500;
}
.custom-button{
  display: flex;
}

.indicator{
  width: auto;
  height: 55px;
  margin: 0;
  padding:0;

}
.employee-block{
  
  
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr 1fr;
  align-items: center;
  
  
  
  
}
.main-information{
  padding: 20px 105px 55px 105px;
  
  
}
.employee-wrapper{
  
  
  overflow: auto;
  height: 66vh;
 
}
.employee-wrapper::-webkit-scrollbar{
  
  background: #e6e8eb;
  width: 6px;
  border-radius: 0;
  
}
.employee-wrapper::-webkit-scrollbar-thumb {
  background: #344267;
  
}
.show-list{
  display: flex;
}
.show-list select{
  border: none;
  margin-left: 10px;
  height: max-content;
  padding: 0;
  border: 0;
  
  background-color: #FAFAFA;
}
.show-list select:focus{
  outline: 0px;
  outline-offset: 0;
}
.show-list select option:focus, .show-list select option:focus:hover{
  outline: 0px;
  outline-offset: 0;
  
}

/*stale for page employee*/
.info_table{
  display: block;
}
.dowload{
  padding-top: 60px;  
  padding-bottom: 20px;
  padding-left: 20px;
}
.red_star{
  color: red;
}
.dowload-photo {
  display: flex;
  margin: 0px;
  border-color: #344267;
  border-radius: 8px;
  height: 40px;
  width: 240px;
  justify-content: left;
  text-align: justify;
  text-decoration: none;  
}
.anyface_photo{
  height: 40px;
  width: 40px;
  background-image: url(../img/newemployee/anyface.svg);
  background-repeat: no-repeat;
}
.text_span_photo{
  margin: 0px;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 14px;
}
.dowload_photo{
  height: 10px;
  width: 12px;
  margin-top: 12px;
  padding-top: 7px;
  background-image: url(../img/newemployee/dowloadphoto.svg);
  background-repeat: no-repeat;
}

.employee_background{
  position: fixed;
    left: 55%;
    top: 14%;
    z-index: 0;
}
.first-row{
  display: flex;
  justify-content: space-around;
}
.first_column{
  display: grid;
  margin-left: 20px;
}
.btn_submit{
  float: right;
  height: 40px;
  width: 149px;
  margin: 0px;
  background-color:#344267;
  border: 1px solid;
  color: #FAFAFA;
  border-radius: 10px;
  text-align: center;
  text-decoration: none; 
  margin: 4px 10px;
}
form {
  background: #FAFAFA;
  float: left;
  height: 300px;
  padding: 0px;
  border-radius: 0 20px 20px 0;
  color: #7b7b7b; 
}
.wrap_info_employees:after, form div:after{
  content: "";
  clear: both;
}
form div {
  margin-bottom: 15px;
  position: relative;
}
label, span {
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 8px;
  position: relative;

}
input[type="text"], input[type="date"], select{  
  border-width: 0;
  border-radius: 10px;
  margin: 0;
  width: 169px;
  height: 40px;
  padding: 10px 15px;
  background: #e6e6e6;
  
}
.document-wrapper {
  height: 70vh;
  overflow: auto;  
  margin-right: 80px;
}
.document-table{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.document-block{
  display: block;
  align-items: center;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
}
.btn_document{
  width: 300px;
  height: 200px;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: none;
  border: 3px solid rgba(83, 103, 141, 0.4);
  outline: none;
  background-color: #FAFAFA;
  cursor: pointer;
  opacity: 0.4;
}
.btn_document p{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #53678D;
  opacity: 1;
  text-align: center;
}
.btn_document:focus{
  outline: 0px;
  outline-offset: 0;
  opacity: 1;  
}

.btn_document:hover{
  border: 1px solid rgb(83, 103, 141); 
  opacity: 1; 
}
.document-block span{
  color: #333333;
  font-weight: 600;
  font-size: 13pt;
  margin-bottom: 10px;
}
.btn_img{
  width: 90px;
  height: 90px;
  opacity: 1;
}
.span_document{
  width: 100%;
  padding-bottom: 10px;
  padding-left: 11px;
  padding-right: 11px;
}
.document-wrapper::-webkit-scrollbar{
  background: #e6e8eb;
  width: 6px;
  border-radius: 0;  
}
.document-wrapper::-webkit-scrollbar-thumb {
  background: #344267;  
}
.newemployee_block{
  margin-right: 80px;
  margin-top: 20px;
  float: right;
}
.back{
  height: 40px;
  width: 169px;
  margin: 0px;
  background-color:#FAFAFA;
  border: 1px solid;
  color: #344267;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 10px;
  opacity: 0.4;
}
.back:focus, .add_employee:focus{
  outline: 0px;
  outline-offset: 0;
}
.left_spart{
  width: 9%;
  height: auto;
}
.add_employee{
  height: 40px;
  width: 200px;
  margin: 0px;
  background-color:#344267;
  border: 1px solid;
  color: #FAFAFA;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 10px;
}

